*{
    font-family: "Times New Roman", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    background-color:azure;
}

.container{
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.container .bagian1{
    padding: 40px 20px;
    padding-left: 35px;
    background-color:rgb(69, 108, 180);
    width: 100%;
    color:#ffffff;
}

.container .bagian1 .profil{
    display:inline-flex;
    margin-bottom: 5px;
    margin-left: -15px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid rgb(14, 14, 78);
    background-image: url("foto.JPG");
    background-position: center top;
    background-size: 100%;
}

.container .bagian1 .contact-box{
    width: 100%;
    margin-top: 25px;
    align-items: center;
}

.container .bagian1 .contact-box>* .text{
    margin-bottom: 15px;
    font-family:Verdana;
}

.container .bagian2{
    background-color: #c6cfdb;
    padding: 40px 20px;
    padding-right: 75px;
    color:black;
}

.container .bagian2 .head-title{
    font-size: 2.1em;
    color:rgb(16, 12, 71);
}

.container .bagian2 .biodata-box{
    display: inline-block;
    padding: 2px 20px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: rgb(14, 14, 78);
    color:#ffffff;
}

.container .bagian2 .isi{
    margin-top: 15px;
    line-height: 1.5;
}

.container .bagian2 .history-box{
    display: inline-block;
    padding: 2px 20px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: rgb(14, 14, 78);
    color:#ffffff;
}

.container .bagian2 .organization-box{
    display: inline-block;
    padding: 2px 20px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: rgb(14, 14, 78);
    color:#ffffff;
}

.container .bagian2 .skill-box{
    display: inline-block;
    padding: 2px 20px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: rgb(14, 14, 78);
    color:#ffffff;
}